body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #1b1f32, #282c3d);
  color: #eee;
}
.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}
h1 {
  text-align: center;
  margin-bottom: 1em;
}
label, input, button {
  width: 100%;
  display: block;
  margin: .5em 0;
}
#map { height: 200px; border-radius: 8px; margin-bottom: 10px; }
.coords {
  display: flex;
  justify-content: space-between;
}
button {
  background: #ffa500;
  border: none;
  color: #333;
  padding: .8em;
  font-size: 1em;
  border-radius: 6px;
  cursor: pointer;
}
button:hover { background: #ffb733; }

#result {
  background: #ffffff10;
  margin-top: 20px;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
#moonImg {
  width: 120px;
  height: 120px;
  margin-right: 15px;
}
.info { flex: 1; }
.info h2 {
  margin: 0;
}
.hidden { display: none; }
